<!DOCTYPE html>
<html ng-app="app">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title></title>
 <script type="text/javascript" src="angularjs.min.js"></script>
 <script type="text/javascript" src="app.js"></script>
</head>
<body>
 <!--controlador padre que contiene homeCtrl y profileCtrl-->
 <div ng-controller="appCtrl">
 {{ count }}
 <button ng-click="updateCounter1()">Incrementar hijos desde appCtrl</button>
 
 <!--controlador hijo de appCtrl-->
 <div ng-controller="homeCtrl">
 {{ count }}
 <button ng-click="updateCounter2()">Incrementar app desde home</button>
 </div>
 
 <!--controlador hijo de appCtrl-->
 <div ng-controller="profileCtrl">
 {{ count }}
 <button ng-click="updateCounter3()">Incrementar app desde profile</button>
 </div>
 
 </div>
</body>
</html>